body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.json-to-table td {
    border-top: 1px solid #bebebe;
    border-bottom: 1px solid #bebebe;
}

td[colspan="2"] {
    background-color: #fffef9;
}

td[colspan="0"] {
    background-color: #fff6e9;
}
